body {
    font-family: Arial;
    text-decoration: none;
}

a {
    color:seagreen;
    text-decoration: none;
}

.hoje {
    font-family: Arial;
    color:darkred;
}

.amanha {
    color: darkblue;
}